%face {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 1px 2px 5px #000000;
  margin: 5px;
}


%dots {
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 360px;
  box-shadow: inset 1px 2px 1px #505050;
}
